#external-styling {
	color: yellow;
}

*{
	font-family:'Roboto', sans-serif;
	font-size: 15px ;
}

h1 {
	font-size: 50px;
}

#capital-letter{
	text-transform: uppercase;
}

.code {
	background-color: rgb(128,203,159);
}

li[value] {
	border: 1px solid #6681cc;
}
img + ul {
	list-style-type: none;
}

section img {
	width: 100px;
	height: 100px ;
	border-radius: 55px;
}

h4 ~ p {
	text-align: center;
}

section > ul {
	letter-spacing: 5px;
}

